.h1 {
  color: blue;
  font-family: "Oleo Script Swash Caps", cursive;
}

.p-discount {
  font-weight: bold;
  margin-bottom: 1rem;
}

.h5-footer {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-spacetop {
  background-color: lightblue;
  padding-top: 2rem;
}
