.relative-hero {
  /* position: relative; */
  margin-top: 3.5rem;
  display: block;
}

/* //first div */

@media only screen and (min-width: 1024px) {
  .first-div {
    top: 16rem;
  }
  .hero-h1 {
    font-size: 6.5rem;
  }
  .hero-span {
    font-size: 6.5rem;
  }
}

.first-div {
  top: 16rem;
  max-width: 100%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  /* top: 8rem; */
  right: 0;
  left: 0;
  position: absolute;
}
/* second div */

@media only screen and (min-width: 1024px) {
  .second-div {
    max-width: 56rem;
    width: -moz-max-content;
    width: max-content;
  }
}

.second-div {
  justify-content: center;
  width: 80%;
  display: flex;
  margin: auto;
  /* display: block; */
}

/* third div */

.third-div {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  line-height: 1;
  max-width: 56rem;
  /* display: block; */
}

/* hero-h1 */

@media only screen and (min-width: 768px) {
  .hero-h1 {
    font-size: 88px;
    line-height: 1.1;
  }
}

.hero-h1 {
  font-family: Pangea Display, Helvetica, Arial, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
  text-align: center;
  max-width: 56rem;
  margin: 0;
}

/* hero span */

.hero-span {
  font-family: Pangea Display, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 6.5rem;
  line-height: 1.1;
  text-align: center;
}
