.relative-hero {
  /* position: relative; */
  margin-top: 3.5rem;
  display: block;
}

/* //first div */

.first-div {
  top: 16rem;
  max-width: 100%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  /* top: 8rem; */
  right: 0;
  left: 0;
  position: absolute;
}
/* second div */

.second-div {
  justify-content: center;
  width: 80%;
  display: flex;
  margin: auto;
  /* display: block; */
}

/* third div */

.third-div {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  line-height: 1;
  max-width: 56rem;
  /* display: block; */
}

/* hero-h1 */

.hero-h1 {
  font-family: "Rowdies", cursive;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
  text-align: center;
  max-width: 56rem;
  margin: 0;
}

/* hero span */

.hero-span {
  font-family: "Rowdies", cursive;

  font-style: italic;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 6.5rem;
  line-height: 1.1;
  text-align: center;
}
/* }
@media only screen and (min-width: 200px) {
  .first-div {
    top: 5rem;
  }
  .hero-h1 {
    font-size: 1.5rem;
  }
  .hero-span {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 375px) {
  .first-div {
    top: 8rem;
  }
  .second-div {
    margin: initial;
  }
  .hero-h1 {
    font-size: 1.5rem;
  }
  .third-div {
    width: 10rem;
  }
  .hero-span {
    font-size: 1.75rem;
  }
} */
@media only screen and (min-width: 200px) {
  .first-div {
    top: 4rem;
  }
  .hero-h1 {
    font-size: 0.5rem;
  }
  .hero-span {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 375px) {
  .first-div {
    top: 6rem;
  }
  .hero-h1 {
    font-size: 1.5rem;
  }
  .hero-span {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 450px) {
  .first-div {
    top: 7rem;
  }
  .hero-h1 {
    font-size: 2.5rem;
  }
  .hero-span {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 650px) {
  .first-div {
    top: 9rem;
  }
  .hero-h1 {
    font-size: 3.5rem;
  }
  .hero-span {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 850px) {
  .first-div {
    top: 12rem;
  }
  .hero-h1 {
    font-size: 4.5rem;
  }
  .hero-span {
    font-size: 5.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .first-div {
    top: 13rem;
  }
  .hero-h1 {
    font-size: 5.5rem;
  }
  .hero-span {
    font-size: 6.5rem;
  }
}
